<h1 align = "center"><u>PLEASE FILL IN THE DOCTOR DETAILS</u></h1>
<form action = "/create_doctor_form" method = "post">
  department_id:<br>
    <select name = "department_id">
      <option value = "select">select</option>
      <option value = 1 >cardiology</option>
      <option value = 3 >general physician</option>
      <option value = 2 >neurology</option>
      <option value = 4 >psychology</option>
    </select><br/>
  doctor name:<br> 
    <input type = "text" name = "doctor_name"value = ""><br>
  date_of_joining:<br>
    <input type = "datetimes" name="date_of_joining"value = "<%=Time.now.strftime("%F")%>"><br>
  doctor address:<br>
    <input type = "text" name = "address" value = ""><br>
  Please select  gender<br>
  <input type="radio" name="gender" value="male">male<br>
  <input type="radio" name="gender" value="female">female<br> 
    <input type = "submit" value = "Submit">
    <input type = "reset">
</form>