<form action="/create_doctor_form" method="post">
 doctor name:<br>
   <input type="text" name="doctor_name"value=""><br>
  doctor address:<br>
  <input type="text" name="address" value=""><br>
  gender:<br>
  <input type="text" name="gender" value=""><br>
  department id:<br>
  <input type="text" name="department_id" value=""><br>
  <input type="submit" value="Submit">
   </form>
