 <!DOCTYPE html>
<html>
<body>

<h1>HOSPITAL MANAGEMENT SYSTEM</h1>
<p></p>

 <form action="">
  Doctor name:<br>
  <input type="text" name="firstname" value="vinay"><br>
  patient name:<br>
  <input type="text" name="lastname" value="ram"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html> 