<h1 align = "center"><u>PLEASE FILL IN THE PATIENT DETAILS</u></h1>
<form action = "/create_patient_form" method = "post">
  patient name:<br>
     <input type = "text" name = "patient_name"value = ""><br>
  patient address:<br>
    <input type = "text" name = "address" value = ""><br>
  disease_history:<br>
    <input type = "text" name = "disease_history" value = ""><br>
    <input type = "submit" value = "Submit">
    <input type = "reset" value = "reset">
</form>